body {
    background-image: url("./../images/adminbg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

h1, h2 {
    text-align: center;
}

p {
    color: black;
    font-size: 30px;
    padding-top: 20px;
}

#login {
    background-color: #eca800;
    height: 230px;
    width: 500px;
    margin-left: 670px;
    border-radius: 50px;
    text-align: center;
}

#key {
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    margin-top: -10px;
}

span {
    color: red;
    font-size: 15px;
}


#submit {
    margin-top: 25px;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: black;
    color: white;
}