/* body {
    background-image: url('./../images/duck_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
} */

.top_div {
    background-color: white;
    height: 100px;
    width: 101.30%;
    margin-top: -7;
    margin-left: -1%;
}

.heading {
    text-align: center;
    margin-top: -90px;
    background-color: white;
    font-size: 70px;
}

.duck {
    height: 140px;
    cursor: cell;
}

.duck2 {
    height: 140px;
    margin-left: 400px;
    cursor: cell;
    padding-top: 50x;
}

.duck3 {
    height: 140px;
    margin-left: 400px;
    cursor: cell;
}

#points {
    color: black;
    margin-top: -6%;
    background-color: white;
    margin-left: 85%;
    font-size: 40px;
}

hr {
    height: 5px;
    background-color: black;
    margin-top: -40px;
}

#marquee {
    scroll-behavior: smooth;
    animation-name: teddy;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-fill-mode: forwards;

}

@keyframes teddy {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}