.top_div {
    background-color: white;
    height: 100px;
    width: 101.30%;
    margin-top: -7;
    margin-left: -1%;
}

.heading {
    text-align: center;
    margin-top: -90px;
    background-color: white;
    font-size: 70px;
}

.duck {
    height: 140px;
    cursor: cell;
    animation: duck 15s linear infinite;
}
@keyframes duck {
    0% { transform: translate(0, 0); }
    200% { transform: translate(1%, 1%); }
    } 

.duck2 {
    height: 140px;
    margin-left: 400px;
    cursor: cell;
}

.duck3 {
    height: 140px;
    margin-left: 400px;
    cursor: cell;
}

#points {
    color: black;
    margin-top: -6%;
    background-color: white;
    margin-left: 85%;
    font-size: 40px;
}

hr {
    height: 5px;
    background-color: black;
    margin-top: -40px;
}