* {
    scroll-behavior: smooth;
}

body {
    margin-left: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#navbar {
    background-color: black;
    height: 70px;
    width: 100.45%;
    margin-top: -12px;
}

.logo {

    height: 70px;
    width: 160px;
}

.first-nav {
    margin-left: 150px;
    margin-top: -42px;
}

.first-nav li {
    display: inline-block;
}

.first-nav li a {
    text-decoration: none;
    color: white;
    padding: 8px 24px;
    transition: 0.3s;
}

.first-nav li a:hover {
    border-radius: 20px;
    color: black;
    background-color: #eca800;
}

.first-nav li.design a {
    color: #eca800;
    border-radius: 20px;
    background-color: #eca800;
    color: black;
}

.second-nav li {
    display: inline-block;
}

.second-nav {
    margin-left: 63%;
    margin-top: -3.3%;
}

.download-buttons {
    margin-left: 75%;
    margin-top: -57px;
}

.download_btn {
    height: 90%;
    width: 185px;
    background-color: #eca800;
    border: none;
    font-size: medium;
}

.download_btn a {
    text-decoration: none;
    color: black;
}

.download_btn:hover {
    background-color: goldenrod;
    cursor: pointer;
}

.shopping {
    margin-left: 96.7%;
    margin-top: -3.6%;
}

.background_img {
    width: 100.4%;
    margin-top: -0.5%;
}

.pmit {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    font-size: 20px;
    background-color: #eca800;
    margin-left: 90%;
    margin-top: -40%;
    color: black;
    text-decoration: none;
    border: #eca800 solid 5px;
}

.a{
    text-decoration: none;
    color: black;
}

.title {
    text-align: center;
    color: #333;
    font-family: sans-serif;
    font-size: xx-large;
    margin-top: 70px;
}

.video {
    margin-top: 40px;
    margin-left: 15%;
}


.app {
    margin-top: 4%;
    width: 100.43%;
}

.app_logo {
    margin-left: 46%;
    margin-top: -15%
}


.bottom_panel {
    margin-left: 38.3%;
    margin-top: -8%;
}

.footer {
    background-color: black;
    width: 100.43%;
    height: 18%;
    margin-bottom: -3%;
    margin-top: 4.5%;
}

.footer_logo {
    margin-top: 3%;
    margin-left: 42%;
    margin-bottom: -1%;
}

.h1-1 {
    font-size: 10px;
    color: white;
    text-align: center;
    margin-top: 2%;
}

.arrow_bttn {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #eca800;
    border: 0px;
}