* {
    scroll-behavior: smooth;
}

body {
    margin-left: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#navbar {
    background-color: black;
    height: 70px;
    width: 100.42%;
    margin-top: -12px;
}

.logo {
    height: 70px;
    width: 160px;
}

.first-nav {
    margin-left: 150px;
    margin-top: -42px;
}

.first-nav li {
    display: inline-block;
}

.first-nav li a {
    text-decoration: none;
    color: white;
    padding: 8px 24px;
    transition: 0.3s;
}

.first-nav li a:hover {
    border-radius: 20px;
    color: black;
    background-color: #eca800;
}

.first-nav li.design a {
    color: #eca800;
    border-radius: 20px;
    background-color: #eca800;
    color: black;
}

.second-nav li {
    display: inline-block;
}

.second-nav {
    margin-left: 63%;
    margin-top: -3.3%;
}

.download-buttons {
    margin-left: 75%;
    margin-top: -57px;
}

.download_btn {
    height: 90%;
    width: 185px;
    background-color: #eca800;
    border: none;
    font-size: medium;
}

.download_btn a {
    text-decoration: none;
    color: black;
}

.download_btn:hover {
    background-color: goldenrod;
    cursor: pointer;
}

.shopping {
    margin-left: 96.7%;
    margin-top: -3.6%;
}

.top_div {
    background-color: black;
    height: 70px;
    width: 100%;
    font-size: 20px;
    border: 4px solid #eca800;
    margin-top: -10px;
}

.news {
    margin-top: 0.3%;
    text-align: center;
    color: #eca800;
    font-family: sans-serif;
    font-size: 50px;
}

.top_img{
    width:100.45%;
    height: 230px;
}

.select {
    margin-left: 44%;
    margin-top: -12%;
    height: 50px;
    width: 250px;
    color: #eca800;
    background-color: black;
    font-size: 25px;
    padding-left: 30px;
}


.main_box {
    margin-top: 5px;
    background-color: #4B4648;
    height: 140%;
    width: 100.45%;
    position: sticky;
    
}

.sub_box {
    background-color: white;
    width: 85%;
    height: 800px;
    margin-top: -65%;
    margin-left: 7%;
    border-radius: 20px;
    border: solid 5px #eca800;
    position:relative

}


.diwali {
    height: 300px;
    width: 300px;
    border: 4px solid #eca800;
    margin-left: 50px;
    margin-top: 20px;
}

.tournament {
    font-size: 30px;
    color: black;
    text-decoration-color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.oneshot_para{
    font-size: 20px;
    margin-left: 20px;
    
}