body {
    background-color: black;
    font-family: sans-serif;
}

#heading {
    color: white;
    text-align: center;
    font-size: 50px;
}

.queries {
    margin-left: 40px;
    border-radius: 30px;
    background-color: #eca800;
    padding-left: 30px;
    height:fit-content;
    width: 92%;
    font-size: 50px;
}

.home {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: #eca800;
    border: none;
    font-size: 30px;
    text-decoration: none;
    padding: 25px;
    position: absolute;
    margin-left: 95%;
    margin-top: -2%;
    
}